.idea/
*.csv
*.pyc
__pycache__/
output/
data/input
data/output
docs/Makefile
docs/make.bat
docs/source/
build/
data/input/.~lock.data_short.csv#
data/input/Gem_Groningen ICT_outsourcing.csv
data/input/outsourcing_gemeente_groningen.csv
dist/
model-gui.spec
model-settings.xml
outsourcing_gemeente_groningen.zip
