[tool.poetry]
name = "decide-exchange-model"
version = "2022.1.25"
description = "Decide exchange model"
authors = ["Jelmer Draaijer <info@jelmert.nl>"]
readme = "README.md"
packages = [{ include = "decide" }]

[tool.poetry.dependencies]
python = "^3.9"
blinker = "1.5"
matplotlib = "3.6.0"
pandas = "1.5.0"
numpy = "1.23.4"
typesystem = "0.2.5"
peewee = ">=3.14.4"
requests = "*"
pyqt5-qt5 = "5.15.2"
pyqt5 = "5.15.10"

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.3"
pytest-qt = "^4.2.0"
pytest-xvfb = "^3.0.0"

[build-system]
requires = ["poetry-core>=1.2.0"]
build-backend = "poetry.core.masonry.api"


[tool.poetry.scripts]
decide-cli = 'decide.cli:main'
decide-gui = 'decide.gui:main'