[tool.poetry]
name = "decide-exchange-model"
version = "2022.1.18"
description = "Decide exchange model"
authors = ["Jelmer Draaijer <info@jelmert.nl>"]
readme = "README.md"
packages = [{include = "decide"}]

[tool.poetry.dependencies]
python = "^3.9"
blinker = "1.5"
matplotlib = "3.6.0"
pandas = "1.5.0"
numpy = "1.23.4"
typesystem = "0.2.5"
peewee = ">=3.14.4"
PyQt5 = "5.12.3"
requests = "*"

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.3"
pytest-qt = "^4.2.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"


[tool.poetry.scripts]
decide-cli = 'decide.cli:main'
decide-gui = 'decide.gui:main'