name: Test

on:
  push:
    branches: [master]
  pull_request:

jobs:
  run:
    name: Python ${{ matrix.python-version }} on ${{ startsWith(matrix.os, 'macos-') && 'macOS' || startsWith(matrix.os, 'windows-') && 'Windows' || 'Linux' }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - { os: ubuntu-latest, python-version: '3.13' }
    env:
      PYTEST_QT_API: 'pyqt6'
      QT_QPA_PLATFORM: xcb
    steps:
      - uses: actions/checkout@v4
      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}
      - uses: tlambert03/setup-qt-libs@v1
      - name: Install dependencies
        run: uv sync --all-extras --dev

      - name: Test with pytest
        run: uv run pytest
